@tailwind base;
@tailwind components;
@tailwind utilities;

.button-main {
  @apply text-white bg-gradient-to-br from-red-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-200  font-medium rounded-lg text-sm px-5 py-3 text-center me-2 mb-2 transition-all ease-in-out duration-300 hover:px-8 hover:py-3;
}
.form-contact {
  @apply w-full bg-white rounded border border-gray-300 focus:border-blue-600 focus:ring-2 focus:ring-blue-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out
  w-full bg-white rounded border border-gray-300 focus:border-blue-600 focus:ring-2 focus:ring-blue-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}

.img-blob {
  mask-image: url(img/blob.svg);
  mask-repeat: no-repeat;
  mask-size: 110%;
  mask-position: center;
}
